.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 0;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: center / cover no-repeat url(../images/delete_icon.svg)
    transparent;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  background: center / cover no-repeat url(../images/delete_icon_hover.svg);
}

.card__like-button {
  background: center / cover no-repeat url(../images/like_icon.svg) transparent;
  padding: 0;
  margin: 0;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_active {
  background-image: url(../images/like_active.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  background-image: url(../images/like_active.svg);
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1.2;
    max-width: 235px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
