.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  margin: 12px 0 0;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/like_icon.svg);
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 200px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: cover;
    background-position: center;
  }
}
