.modal {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  padding: 0;
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: center / cover no-repeat url(../images/close_icon_dark.svg);
  border: none;
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background: center / cover no-repeat url(../images/close_icon_light.svg);
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: block;
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 500;
  color: #212121b2;
}

.modal__input {
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0 0;
  padding: 16px 12px;
  border: 1px solid #21212166;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  color: #212121;
  font-weight: 500;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}

.modal__error {
  display: block;
  margin-top: 8px;
  color: rgba(255, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}

.modal__submit-btn {
  max-width: 156px;
  padding: 18px 32px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  opacity: 0.5;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  background-color: #212121;
  margin: 8px 0 0;
  padding: 4px 8px;
  width: fit-content;
  border-radius: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 627px) {
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__container {
    padding: 12px;
    margin: 0 10px;
  }

  .modal__title {
    margin: 10px 0 34px;
    font-size: 20px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }

  .modal__image {
    max-width: unset;
    border-radius: 4px;
  }

  .modal__caption {
    font-size: 16px;
    max-width: 175px;
  }
}
