.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #212121;
  opacity: 70%;
  font-size: 16px;
  line-height: 1;
  width: 117px;
  font-weight: 500;
  align-items: center;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__add-button {
  background-color: #212121;
  padding: 18px 32px;
  color: #fcf5e5;
  margin-left: auto;
  border-radius: 8px;
  margin-top: auto;
  font-size: 16px;
  line-height: 1;
}

.profile__add-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-button {
    align-self: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
